{% extends 'base.html.twig' %}

{% block title %}My Follow{% endblock %}


{% block body %}

    <div class="container box">

        {% for row in subscribes|batch(4) %}
            <div class="card-deck">

                {% for subscribe in row %}
                    <div class="card">
                        <img src="https://www.place-hold.it/300x300" class="card-img-top">
                        <div class="main-card card-body">
                            <h5 class="card-title">{{ subscribe.name }}</h5>
                            <p class="card-text">{{ subscribe.description|resume(200) }}</p>
                            <div class="btn-group">
                                <a class="btn btn-primary" id="button-view" href="#">Voir</a>

                                {% if app.user %}

                                    {% if app.user.profile.id in subscribe.subscribers %}
                                        <a class="btn btn-danger"
                                           id="button-follow"
                                           data-status="desactive"
                                           href="{{ path('unsubscribe',{ 'id' : subscribe.id }) }}">Unfollow</a>
                                    {% else %}
                                            <a class="btn btn-success"
                                               id="button-follow"
                                               data-status="active"
                                               href="{{ path('subscribe',{'id': subscribe.id} ) }}">Follow</a>
                                    {% endif %}

                                {% endif %}

                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Nombre de followers : {{ subscribe.subscribers | length }}</small>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>

{% endblock %}
